extends ../layouts/default
block content
    .mt-5.mb-4.text-center
        h4.page-title.pt-2 关于我们
        h5.page-sbtitle About us
    hr
    .row.mt-5.mt-5.text-center
        .col-12
            p.about-text 众联云海，是一家信息化解决方案供应商，公司成立于2016年6月15日，注册地址为四川成都。
            p.about-text 中联云海为各行业提供专业的信息化解决方案，软件外包等定制开发服务。
        .col.row.mt-5.pt-5.justify-content-center
            .col-4.col-md-2
                p.sum-text 160
                p.about-text 客户
            .col-4.col-md-2
                p.sum-text 230 
                p.about-text 项目
            .col-4.col-md-2
                p.sum-text 18 
                p.about-text 软件著作权
    .mt-5.mb-5.text-center.about-text.pb-5
        p.mt-5.mb-5.pt-5.h5 我们期望看到的未来
        p 众联云海的主要行业解决方案包括医疗行业、教育行业、金融行业、大型企业等单位提供信息化解决方案
        p 不做传统设计的奴隶
        p 不是审美趋势的附庸者
        p 我们在寻找自己的道路上永不止步

    .row.mt-5.pt-5.justify-content-center
        .col-sm-2.about-intro
            span.pl-1 愿景
            p.mt-2 努力成为互联网行业中最具影响力的企业之一
        .col-sm-2.about-intro.mr-2
            span.pl-1 使命
            p.mt-2 通过互联网服务助力中小企业成长
        .col-sm-2.about-intro.mr-2
            span.pl-1 经营理念
            p.mt-2 与客户一同成长，不断完善产品和服务，满足客户日益变化的需求
        .col-sm-2.about-intro.mr-2
            span.pl-1 价值观
            p.mt-2 坚守客户权益，一切以客户为主，诚信为本，可持续发展
    .col.text-center.hidden-sm
        img(src="./img/about.png", alt="")