extends ../layouts/default
block content

    .mt-5.mb-4.text-center
        h4.page-title.pt-2 联系我们
        h5.page-sbtitle Contact us
    hr
    row
        .col-12.text-center
            img(src="./img/contact.png", class="img-fluid pt-2" alt="")
        .col.mt-5.pt-5.pt-5.main-wrap
            span.title-size.title-color 众联云海建站系统
            p.text-color.text-size.mt-4 地址: 高新区香年广场T3栋804号
            p.text-color.text-size 电话: 135-4111-8666
            p.text-color.text-size 邮箱: 251984220@qq.com
            p.text-color.text-size.mb-5 邮编: 6102543
    hr.pb-5